.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*****************************************************/

.experiences-year-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  font-size: 1.5rem;
  color: var(--purple);
}

.experiences-year-list > li {
  margin: 0.2rem 0.5rem;
  transition: color 0.5s ease-out;
}

.experiences-year-list > li:hover {
  color: var(--pink);
}

@media (max-width: 600px) {
  .experiences-year-list {
    margin-top: 1rem;
    max-width: 350px;
    gap: 0.5rem;
  }
}

/*****************************************************/

.experience-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 2.5rem 0;
}

.experience-card > h2 {
  min-width: 130px;
  font-size: 60px;
}

.experience-card > p {
  padding-left: 2rem;
  border-left: dotted var(--purple) 4px;
}

@media (max-width: 600px) {
  .experience-card {
    flex-direction: column;
    margin: 2rem 0;
  }

  .experience-card > h2 {
    text-align: center;
    font-size: 40px;
  }

  .experience-card > p {
    padding-left: 0rem;
    padding-top: 2rem;
    border-top: dotted var(--purple) 4px;
    border-left: none;
  }
}

/*****************************************************/
