/*****************************************************/
/* GENERAL RULES */
/* GENERAL RULES */
/* GENERAL RULES */
/* GENERAL RULES */
/* GENERAL RULES */
/*****************************************************/

@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --light-wine: #ffdfeb;
  --pink: #ffafcc;
  --flash-pink: #f25dff;
  --wine: #fd60be;
  --dark-wine: #a02165;
  --purple: #b69ff0;
  --dark-blue: #0e0c76;
  --blue: #4873fe;
  --azul: #68ddfdc2;
  --light-blue: #d9dcff;
  --grey: #bdbcc8;
  --dark: #030620;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inria Sans', sans-serif;
  border: none;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light-blue);
}

main {
  padding-bottom: 200px;
  /* ! == Footer height */
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  color: var(--wine);
}

ul,
menu,
nav {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:hover,
a:hover {
  cursor: pointer;
}

/*****************************************************/
/* Center sections inside main*/
/*****************************************************/
main>section {
  display: flex;
  justify-content: center;
  width: 100vw;
}

/*****************************************************/
/* Content MAX WIDTH */
/*****************************************************/
/* Header menu and footer */
.header-menu,
footer>div {
  padding: 0 3rem;
  width: 100vw;
  max-width: 950px;
}

/* Content in Main */
main>section>div {
  padding: 2rem 4rem;
  max-width: 900px;
}

.mobile-menu {
  display: none;
}

@media (max-width: 600px) {
  main>section>div {
    padding: 0 2rem;
  }
}

/*****************************************************/
/* GENERAL CLASS */
/* GENERAL CLASS */
/* GENERAL CLASS */
/* GENERAL CLASS */
/* GENERAL CLASS */
/*****************************************************/

.color-band {
  background: linear-gradient(145deg, #030622, #03051d);
  box-shadow: 5px 1px 20px #5663f6,
    -5px -1px 20px #ce89db;
}

.arrow-button {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--wine);
  color: whitesmoke;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

.arrow-button:hover {
  background-color: var(--azul);
}

/*****************************************************/
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/*****************************************************/

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  height: 80px;
  color: var(--purple);
  font-size: 1.2rem;
}

.header-menu>li {
  transition: color 0.5s ease-in-out;
}

.header-menu>li:hover {
  color: var(--wine);
}

.logo-ab {
  width: 53px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .header-menu {
    display: none;
    visibility: hidden;
    max-height: 0;
  }

  .mobile-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
    max-width: 370px;
    height: 54px;
    color: var(--purple);
    overflow: hidden;
  }

  .mobile-menu>li {
    text-align: center;
    margin: 0.2rem 0.5rem;
    min-width: 80px;
    text-align: center;
    font-size: 1.2rem;
  }

  .mobile-menu:hover {
    height: fit-content;
    padding-bottom: 1rem;
  }

  .logo-ab {
    margin: 0 40% 0.5rem 40%;
  }
}

/********************************/

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  padding: 3rem 2.6rem;
  width: 100%;
  max-width: 1000px;
}

.page-header>h1 {
  margin: 0 1rem;
  text-align: center;
  font-size: 145px;
  font-weight: bold;
  color: #e978ff35;
  background-image: url("../assets/tech_background-banner.png");
  background-size: 140%;
  background-position-y: -160px;
  background-clip: text;
  text-shadow: 8px 8px 2px rgba(85, 169, 205, 0.119);
}

@media (max-width: 800px) {
  .page-header {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .page-header>h1 {
    font-size: 50px;
  }
}

/*****************************************************/

/*****************************************************/
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/*****************************************************/

footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100vw;
}

footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 5rem 0;
  width: 100%;
  line-height: 1.5rem;
}

.footer-socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.footer-socials>li {
  padding: 0.5rem;
}

.footer-icons {
  font-size: 1.5rem;
}

/*****************************************************/

/*****************************************************/
/* ABOUT PAGE */
/* ABOUT PAGE */
/* ABOUT PAGE */
/* ABOUT PAGE */
/* ABOUT PAGE */
/*****************************************************/

.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  line-height: 1.8rem;
  font-size: 1.1rem;
}

.about-header>h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--purple);
  text-shadow: var(--blue) 1px 1px 10px;
}

.project-card-container {
  display: none;
  justify-content: space-between;
  padding-top: 2rem;
  width: 100%;
}

@media (max-width: 600px) {
  .project-card-container {
    display: none;
  }
}

.project-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  width: 48%;
  height: 200px;
  background-image: url('../assets/geometric2.jpg');
  background-size: cover;
}

.project-card>h2 {
  padding: 0.15rem 0.6rem;
  background-color: #04072e56;
  border-radius: 13px;
}

/*****************************************************/

.about-portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  gap: 2rem;
  color: var(--purple);
  font-size: 1.1rem;
  line-height: 1.8rem;
}

@media (max-width: 600px) {
  .about-portrait {
    flex-direction: column;
  }
}

.about-portrait>img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.about-portrait>div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*****************************************************/

.skills-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  max-width: 800px;
}

.skills-buttons-container>div {
  width: 170px;
  margin: 0.4rem;
  border: solid 2px var(--flash-pink);
}

.skills-buttons-container>div>div {
  position: relative;
  top: 6px;
  left: 5px;
  min-width: 100%;
  min-height: 100%;
  padding: 0.5rem;
  background-color: var(--azul);
  color: var(--light-blue);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.4s linear;
}

.skills-buttons-container>div>div:hover {
  background-color: rgba(255, 12, 198, 0.451);
  font-weight: bold;
}

.passions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 2rem 0;
  padding: 2rem 0;
}

.passion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 45deg;
  margin: 1.5rem;
  min-width: 70px;
  height: 70px;
  background-color: var(--dark-blue);
  color: var(--azul);
  box-shadow: var(--azul) 2px -2px 5px;
  transition: all 0.5s linear;
}

.passion-icon:hover {
  background-color: var(--dark-wine);
  color: whitesmoke;
  box-shadow: var(--pink) 5px -5px 6px;

}

.passion-icon>i {
  rotate: -45deg;
  font-size: 1.4rem;
}

.lorem {
  display: block;
  padding: 1rem 0;
  font-style: italic;
  color: rgba(162, 233, 255, 0.426);
}